.jClever {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}
.jClever label {
    color: grey;
}
.jClever .hidden {
    opacity: 0;
    position: absolute;
    
}
.jClever-element {
    outline: none;
    margin: 10px;
    font-family: Arial;
    font-size: 12px;
    color: #ccc;
}
.jClever-element * {
    outline: none;
}
.focused .jClever-element-select-center {
    background: #EFEEEC;
    color: #000;
}
.focused .jClever-element-checkbox-twins {
    -moz-box-shadow: inset 0 0 5px #000; /* Для Firefox */
    -webkit-box-shadow: inset 0 0 5px #000; /* Для Safari и Chrome */
    box-shadow: inset 0 0 5px #000; /* Параметры тени */
}
.focused .jClever-element-radio-twins {
    -moz-box-shadow: inset 0 0 5px #000; /* Для Firefox */
    -webkit-box-shadow: inset 0 0 5px #000; /* Для Safari и Chrome */
    box-shadow: inset 0 0 5px #000; /* Параметры тени */
}


.row {
    vertical-align: middle;
}
.row>label {
    display:-moz-inline-box; display:inline-block; *zoom: 1; *display:inline;
    vertical-align: middle;
}
.row>.jClever-element {
    display:-moz-inline-box; display:inline-block; *zoom: 1; *display:inline;
    vertical-align: middle;    
}

/*
 *
 *   SELECT
 *
 */ 
.jClever-element-select-wrapper {
    position: relative;
    width: 300px;
    border: 1px solid #c0c0c0;
    cursor: pointer;
    height: 20px;
}
.jClever-element-select-wrapper select {
    display: none;
}
.jClever-element-select-center {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    line-height: 20px;
    padding: 0 4px;
}
.jClever-element-select-right {
    position: absolute;
    right: 0px;
    top: 0px;
    background: #ccc;
    height: 100%;
    width: 30px;
    cursor: pointer;
    display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;

    text-align: center;
    font-family: Arial;
    color: white;
    font-weight: bold;
    line-height: 20px;
}
.jClever-element-select-list-wrapper {
    position: absolute;
    border: 1px solid #c0c0c0;
    border-top: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;

    top: 19px;
    left: -1px;
    background: #fff;

    display: none;

    height: 100px;
}
.jClever-element-select-list {
    white-space: nowrap;
    padding: 0px;
    margin: 0px;
}
.jClever-element-select-list>li {
    padding: 0 10px;
    margin: 3px 0;
}
.jClever-element-select-list>li.active {
    font-weight: bold;
}
.jClever-element-select-list>li:hover, .jClever-element-select-list>li.selected {
    background: #c0c0c0;
    color: #fff;
}
.jClever-element-select-list>li>span {
    overflow: hidden;
    width: 100%;
    display: block;
    position: relative;
    height: 100%;
    white-space: normal;
}
.jClever-element-select-list>li>span>i {
    font-style: normal;
}


/*
 *
 *   CHECKBOX
 *
 */

.jClever-element-checkbox-twins {
    display: block;
    width: 15px;
    height: 15px;
    background: url(../images/checkbox.png) no-repeat left bottom;
}
.jClever-element-checkbox-twins.checked {
    background-position: left top;
}


/*
 *
 *   RADIO
 *
 */

.jClever-element-radio-twins {
    display: block;
    width: 15px;
    height: 15px;
    background: url(../images/radio.png) no-repeat left bottom;
}
.jClever-element-radio-twins.checked {
    background-position: left top;
}

/*
 *
 *   BUTTON
 *
 */
button.styled {
    background: none;
    border: 0px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}
button.styled>span {
    display:-moz-inline-box; display:inline-block; *zoom: 1; *display:inline;
    border: 1px solid #c0c0c0;    
}
button.styled:hover>span {
    background: #c0c0c0;
    color: #fff;
}
button.styled>span>span {
    display:-moz-inline-box; display:inline-block; *zoom: 1; *display:inline;
    padding: 5px 15px;
}
/*
 *
 *   input`s
 *
 */
.input-type-text {
    border: 1px solid #c0c0c0;
    line-height: 20px;
    padding: 0 4px;
    color: #c0c0c0;
} 

/*
 *
 *   input`s
 *
 */
form.jClever textarea {
    border: 1px solid #c0c0c0;
    padding: 0 4px;
    color: #c0c0c0;
    resize: none;
} 
